li { 
    list-style: none;
}

#horas {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    width: 200px;
    margin: 0 auto;
}

#horas p {
    margin: auto;
}