@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Raleway:wght@200&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #001d3d;
  height: 120px;
  display: grid;
  text-align: center;
}

#logo {
    width: 3%;
    display: block;
    margin: 0 auto;
}

header h1 {
  margin-top: 20px;
  color: #fff;
  font-size: 24px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 50px 0;
}

.text-box {
  width: 800px;
  background-color: #ffc300;
  padding: 20px;
  color: #333;
  text-align: center;
}

#champ-img {
  max-width: 350px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

table {
  border: 1px solid blue;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

footer {
    background-color: #1d3557;
    color: white;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
